<div class="row">
     
    <div class="col-md-6">
        <h2>{{ titulo }}</h2>
        <p>{{ descripcion }}</p>
    </div>
     
    <div class="col-md-6">
        {{ formulario }}
    </div>
     
</div>
    
    	<div class="row">
		<label for="name">{{ titulo }}</label><br />		
	</div>
	<div class="row">
		<label for="email">Tu email:</label><br />
		<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
	</div>
	<div class="row">
		<label for="message">Tu mensaje:</label><br />
		<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
	</div>
	<input id="submit_button" type="submit" value="Send email" />

		</div>			